flow03.txt
[{"id":"d2e3930d.53af8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d1eae440.a095e8","type":"inject","z":"d2e3930d.53af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["2646f9fd.1e5f26"]]},{"id":"2646f9fd.1e5f26","type":"function","z":"d2e3930d.53af8","name":"Payload","func":"msg.headers={\n    deviceKey: \"0E8NFG0rekgfs5be\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";    \nreturn msg;","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["1492b717.728619"]]},{"id":"1492b717.728619","type":"http request","z":"d2e3930d.53af8","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DoyBQQ7D/datapoints.csv","tls":"","x":300,"y":320,"wires":[["7cb12301.e4a7fc","f2491194.8dd19"]]},{"id":"7cb12301.e4a7fc","type":"http response","z":"d2e3930d.53af8","name":"","statusCode":"","headers":{},"x":470,"y":320,"wires":[]},{"id":"f2491194.8dd19","type":"debug","z":"d2e3930d.53af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":420,"wires":[]}]