flow02.txt
[{"id":"d54dcf9a.f622d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"439192e4.5fbe8c","type":"inject","z":"d54dcf9a.f622d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["c9ea16a.d4df3e8"]]},{"id":"c9ea16a.d4df3e8","type":"function","z":"d54dcf9a.f622d","name":"Payload","func":"msg.headers={\n    deviceKey: \"0E8NFG0rekgfs5be\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["87fc25a7.3d6578"]]},{"id":"87fc25a7.3d6578","type":"http request","z":"d54dcf9a.f622d","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DoyBQQ7D/datachannels/Temperature/datapoints.csv","tls":"","x":370,"y":320,"wires":[["88be7822.ef0738","60527413.39c3bc"]]},{"id":"88be7822.ef0738","type":"http response","z":"d54dcf9a.f622d","name":"","statusCode":"","headers":{},"x":530,"y":260,"wires":[]},{"id":"60527413.39c3bc","type":"debug","z":"d54dcf9a.f622d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":420,"wires":[]}]