flow01.txt
[{"id":"aa019ed5.6002e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c62e66af.f86c08","type":"rpi-gpio out","z":"aa019ed5.6002e","name":"Green LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":550,"y":280,"wires":[]},{"id":"b35daac2.8be898","type":"inject","z":"aa019ed5.6002e","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[[]]},{"id":"79fadd6b.d8daf4","type":"inject","z":"aa019ed5.6002e","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[[]]},{"id":"45b789a5.1c66d8","type":"debug","z":"aa019ed5.6002e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":160,"wires":[]},{"id":"630973ca.10218c","type":"rpi-gpio in","z":"aa019ed5.6002e","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":260,"wires":[["ac978d77.dd781","45b789a5.1c66d8"]]},{"id":"ac978d77.dd781","type":"switch","z":"aa019ed5.6002e","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":320,"wires":[["2dfdc1a9.1c518e"],["e752ed11.6853a"]]},{"id":"2dfdc1a9.1c518e","type":"change","z":"aa019ed5.6002e","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":260,"wires":[["c62e66af.f86c08"]]},{"id":"e752ed11.6853a","type":"change","z":"aa019ed5.6002e","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":360,"wires":[["c62e66af.f86c08"]]}]