flow05.txt
[{"id":"370f3350.a8a51c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"ab8d7cac.8caed","type":"http in","z":"370f3350.a8a51c","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["398dfecc.0505a2","f02602b6.1fb66"]]},{"id":"398dfecc.0505a2","type":"function","z":"370f3350.a8a51c","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["2c4b5329.3d4f7c"]]},{"id":"2c4b5329.3d4f7c","type":"rpi-gpio out","z":"370f3350.a8a51c","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":470,"y":340,"wires":[]},{"id":"f02602b6.1fb66","type":"function","z":"370f3350.a8a51c","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["cd17e682.7f3838","c9f079e0.bcb9a8"]]},{"id":"cd17e682.7f3838","type":"http response","z":"370f3350.a8a51c","name":"","statusCode":"","headers":{},"x":750,"y":200,"wires":[]},{"id":"c9f079e0.bcb9a8","type":"debug","z":"370f3350.a8a51c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":300,"wires":[]},{"id":"e57e766e.e56eb8","type":"http in","z":"370f3350.a8a51c","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["96749c39.ad2a7","eefca281.f15d8"]]},{"id":"96749c39.ad2a7","type":"function","z":"370f3350.a8a51c","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["2c4b5329.3d4f7c"]]},{"id":"eefca281.f15d8","type":"function","z":"370f3350.a8a51c","name":"Return Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["cd17e682.7f3838","c9f079e0.bcb9a8"]]}]