flow04.txt
[{"id":"f346e03.3585e2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"d858d1cf.efab6","type":"http in","z":"f346e03.3585e2","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["3390036e.c7495c"]]},{"id":"dc28474a.61fba8","type":"function","z":"f346e03.3585e2","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["9b5740b9.867ef"]]},{"id":"3390036e.c7495c","type":"function","z":"f346e03.3585e2","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["9b5740b9.867ef","ed4009b1.21a288"]]},{"id":"9b5740b9.867ef","type":"debug","z":"f346e03.3585e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":280,"wires":[]},{"id":"ed4009b1.21a288","type":"http response","z":"f346e03.3585e2","name":"","statusCode":"","headers":{},"x":530,"y":160,"wires":[]},{"id":"43c5ac02.9763c4","type":"rpi-gpio in","z":"f346e03.3585e2","name":"GPIO4","pin":"11","intype":"up","debounce":"25","read":true,"x":100,"y":280,"wires":[["dc28474a.61fba8"]]}]